.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(200, 228, 40, 0.8);
}

.navbar-brand{
  font-size: 35px;
  color: rgb(106, 28, 233);
  padding-left: 25px;
}

.navbar-brand:hover{
	color: rgb(224, 163, 29);
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid rgb(161, 236, 149);
	margin-right: 25px;
}

.icon-bar{
	background-color: rgb(78, 168, 228);
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #784eda;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: rgb(18, 212, 83);
	border-bottom: 1px solid rgb(9, 12, 11);
	color: rgb(12, 35, 243);
	display: block;
}

.menu-item:hover{
	background-color: rgba(87, 172, 120, 0.9);
	color: rgba(0,0,0,0.4);
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(22, 207, 93, 0.9);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top{

}